body{
    background-color: aquamarine;
}
h1 {
    text-align: center;
    border: 3px solid green;
    padding: 10px;
    font-size: 36pt;
    text-shadow: 2px 2px 5px red;
}

h3 {
    color: red;
    text-align: center;
    border: 3px solid rgb(216, 235, 11);
    padding: 10px;
    background-color: rgb(6, 245, 189);
    font-size: 18pt;
}

li {
    font-size: 14pt;
}

p{
    font-size: 14pt;
}

.para{
    text-decoration: underline;
    font-weight: bold;
}

.column{
    float: left;
    width: 30%;
    padding: 10px;
  }

.text{
    font-size: 14pt;
    float: left;
    color: red;
    border: 3px solid green;
    padding: 10px;
    background-color: rgb(6, 245, 189);
}
